.button {
  width: 100%;
  height: 50px;
  padding: .9rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--secundary);
  cursor: pointer;
}

.button span {}