.formDiv {
  width: 50%;
  margin: auto;
  margin-top: 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.footer button {
  border-radius: 16px;
  align-items: center;
  padding: .5rem 1.5rem;
  font-weight: 300;
  cursor: pointer;
  width: 40%;
}

.footer>button:first-child {
  border: 1px solid var(--secundary);
  background: none;
  color: var(--secundary);
}

.footer>button:first-child:hover {
  background: var(--gray-50);
}

.footer>button:nth-child(2) {
  border: 1px solid var(--secundary);
  background: var(--secundary);
  color: var(--white);
}

.footer>button:nth-child(2):hover {
  background-color: var(--secundary-50);
}

.fileUpload img {
  width: 150px;
  height: 150px;
  border-radius: 50%;

}

.fileUpload {
  width: 100%;
  text-align: center;
  position: relative;
}

.imageUpload input[type='file'] {
  display: none;
}

.imageUpload {
  background-color: var(--primary);
  padding: 10px;
  border-radius: 50%;
  display: inline-flex;
  color: var(--white);
  position: absolute;
  bottom: 10px;
  right: 40%;
  cursor: pointer;
}